# ======================
# Python general
# ======================
__pycache__/
*.py[codz]
*.pyo
*$py.class

# ======================
# Entornos virtuales
# ======================
.env
.envrc
.venv
venv/
env/
env_rasa/
ENV/
env.bak/
venv.bak/

# ======================
# Logs
# ======================
*.log

# ======================
# Build / dist
# ======================
build/
dist/
*.egg-info/
.eggs/
.installed.cfg
MANIFEST

# ======================
# IDE / OS
# ======================
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# ======================
# Cache / testing
# ======================
.cache/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# ======================
# RASA (MUY IMPORTANTE)
# ======================
app/rasa_bot/.rasa/
app/rasa_bot/models/
*.tar.gz
