<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>PRASS_ANALYTICS | Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>

<body>

    <div class="login-wrapper">
        <div class="login-card">

            <h1 class="brand">PRASS_ANALYTICS</h1>
            <p class="subtitle">Crear nueva cuenta</p>

            <form method="POST" action="{{ url_for('auth.register_view') }} ">
                <input type="hidden" name="next" value="{{ next or '' }}">
                <div class="input-group">
                    <input type="text" name="nombres" required>
                    <label>Nombre</label>
                </div>

                <div class="input-group">
                    <input type="text" name="apellidos" required>
                    <label>Apellido</label>
                </div>

                <div class="input-group">
                    <input type="text" name="cedula" required>
                    <label>Cédula</label>
                </div>

                <div class="input-group">
                    <input type="password" name="password" required>
                    <label>Contraseña</label>
                </div>

                <div class="input-group">
                    <select name="rol" required>
                        <option value="">Seleccione rol</option>
                        <option value="COORDINADOR">Coordinador</option>
                        <option value="ASISTENTE">Asistente</option>
                    </select>
                </div>

                <button type="submit" class="btn primary">
                    Registrarse
                </button>
                {% if error %}
                <p class="error">{{ error }}</p>
                {% endif %}

            </form>

            <div class="divider"></div>

            {% if next %}
            <a class="btn secondary full" href="{{ next }}">Regresar</a>
            {% else %}
            <a class="btn secondary full" href="{{ url_for('auth.login_view') }}">¿Ya tienes cuenta? Inicia sesión</a>
            {% endif %}
        </div>
    </div>

</body>

</html>